
<% if current_user.nil? %>
<h1>Webblog wesite is Here...</h1>

<p>you need to first Create or Login into any Account</p>

<p>	<%= link_to "Sign up", new_user_registration_path %>  </p>
<p>	OR </p>
<p>	<%= link_to "Login", new_user_session_path %> </p>
<% else %>


<p> <%= current_user.email %></p>
<p>	<%= link_to "sign out", destroy_user_session_path, method: :delete %> </p>


<% end %>


