
<p>You have to pay just Rs.10/- to download this blog as pdf</p>



<%= form_tag success_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: Rs. 10.00/-</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Blog download"
          data-amount="10"
          data-locale="auto"></script>
<% end %>
