 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
