<center><h1>AdminDashboard</h1></center>

<br />
<br />
<center>
	<table>

	
		<tr>
			<td>Total Users are </td>
			<td>:</td>
			<td><%= link_to @total_user, adminusers_index_path %></td>
		</tr>

		<tr>
			<td>Total Blogs are </td>
			<td>:</td>
			<td><%=link_to @total_blog,  adminblogs_index_path %></td>
		</tr>

		<tr>
			<td>Total Comments are </td>
			<td>:</td>
			<td><%= link_to @total_comment, admincomments_index_path  %></td>
		</tr>
	</table>
</center>

