
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<h1>Adminblogs#show</h1>
<p>Find me in app/views/adminblogs/show.html.erb</p>
<p><%= @blog.title%></p>
<p><%= @blog.content%></p>