// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog{
	
border: 1px;
border-radius: 5px;
border-style: solid;
border-color: "black";
background-color: #B5F9ED;
width: 300px;

}
.comment{

border: 1px;
border-radius: 5px;
border-style: dashed;
border-color: #000000;
background-color: #CEBDF3;
margin-left: -5px;
width: 300px;
margin-bottom: 10px;

}
