// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog{
	
border: 1px;
border-radius: 5px;
border-style: solid;
border-color: "black";
background-color: #B5F9ED;
width: 600px;

}
.comment{

border: 1px;
border-radius: 5px;
border-style: dashed;
border-color: #000000;
background-color: #CEBDF3;
margin-left: -5px;
width: 600px;
margin-bottom: 10px;

}

.reply {
text-decoration: underline;
color: #000000;
 
 &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
  }
}

.subcomment{

border: 1px;
border-radius: 5px;
border-style: dashed;
border-color: #000000;
background-color: #F6B872;
margin-left: -5px;
width: 300px;
margin-bottom: 10px;


}
hr.scomm {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}